@page  "{handler?}/{Sessionid?}"
@model diplomWeb_v1.Pages.Alg.AHP_FuzzyModel
@{
    ViewData["Title"] = "Алгоритм AHP";
}

<h1 class="display-4">@ViewData["Title"]</h1>



<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/AHP_Fuzzy.css" />
</head>
<body>
    @if (Model.RenderInput)
    {
        <h2 class="display-4">Ввод входных данных</h2>
        if (Model.RenderFirstStep)
        {
            <h3>Шаг 1:</h3>
            <div class="myform">
                <form method="post">
                    <div>
                        <label class="label-ahp-f-input">Заполнените количество критериев в альтернативе</label>
                        <input type="number" class="form-text" id="CriteriaNumber" name="CriteriaNumber" placeholder="Введите колиество критериев" />
                        <label class="label-ahp-f-input">Заполнените количество альтернатив</label>
                        <input type="number" class="form-text" id="AlternativeNumber" name="AlternativeNumber" placeholder="Введите колиество альтернатив" />

                        <input type="submit" class="btn-secondary btn submit-ahp-f-intput" asp-page-handler="SubmitCriteriaNumber" value="Подтвердить" />
                    </div>
                </form>
            </div>
        }
        if (Model.RenderSecondStep)
        {
            <h3>Шаг 2:</h3>
            <div class="myform1">
                <form method="post">
                    <div>
                        <label class="label-ahp-f-input">Заполнените названия критериев</label>
                        <input type="text" class="form-text" id="CriteriaName" name="CriteriaName" placeholder="Введите название критерия" />
                        <input type="submit" class="btn-secondary btn submit-ahp-f-intput" asp-page-handler="SubmitCriteriaName" value="Добавить критерий" />
                        <a class="btn-secondary btn submit-ahp-f-intput" asp-area="" asp-page="/Alg/AHP_Fuzzy">Начать ввод заново</a>
                    </div>
                </form>
            </div>
        }

        @if (Model.RenderThirdStep)
        {
            <h3>Шаг 3:</h3>
            <div class="myform2">
                <form method="post">
                    <div>
                        <label class="label-ahp-f-input">Заполните название альтернативы</label>
                        <input type="text" class="form-text" id="AlternativeName" name="AlternativeName" placeholder="Введите название альтернативы" />
                    </div>

                    <div class="myform1">
                        <div>
                            <label class="label-ahp-f-input">Заполните матрицу парных сравнений</label>
                        </div>
                        <div>
                            <textarea class="mytextarea" id="Matrix" name="Matrix" placeholder="Введите матрицу"></textarea>
                        </div>
                        <input type="submit" class="btn-secondary btn submit-ahp-f-intput" asp-page-handler="SubmitAlternative" value="Добавить альтернативу" />
                    </div>
                </form>
            </div>
            <a class="btn-secondary btn submit-ahp-f-intput" asp-area="" asp-page="/Alg/AHP_Fuzzy">Начать ввод заново</a>
        }
    }
    @if (Model.MatrixOfPairedCompRender)
    {
        <h2 class="display-4">Введенные матрицы парных сравнений для альтернатив</h2>
        @for (int c = 0; c < Model.alternatives.Count; c++)
        {

            <div class="mytable">
                <h4>Альтернатива - @Model.alternatives[c].AlternativeName</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Имя критерия</th>
                            @for (int i = 0; i < Model.criteriaNumber; i++)
                            {
                                <th scope="col">@Model.alternatives[c].AlternativeCriterias[i].CriteriaName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < Model.criteriaNumber; i++)
                        {
                            <tr>
                                <th scope="row">@Model.alternatives[c].AlternativeCriterias[i].CriteriaName</th>
                                @for (int j = 0; j < Model.criteriaNumber; j++)
                                {
                                    if (i == j)
                                    {
                                        <td>1</td>
                                    }
                                    else
                                    {
                                        <td>@Model.alternatives[c].MatrixOfPairedComparisons[i, j]</td>
                                    }
                                }
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        }
        <a class="btn-secondary btn submit-ahp-f-intput" asp-area="" asp-page="/Alg/AHP_Fuzzy">Начать ввод заново</a>
    }
    @if (Model.ActivateRun)
    {
        <form method="post">
            <input type="submit" class="btn-secondary btn submit-ahp-f-intput" asp-page-handler="StartAlg" value="Вычислить" />
        </form>
    }
    else
    {
        <form method="post">
            <input type="submit" class="btn-secondary btn submit-ahp-f-intput" asp-page-handler="StartAlg" value="Вычислить" disabled />
        </form>
    }

    @if (Model.RenderResult)
    {
        <h2 class="display-4">Результат вычислений</h2>
        <div class="mytable">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Имя критерия/Альтернативы</th>
                        @for (int i = 0; i < Model.criteriaNumber; i++)
                        {
                            <th scope="col">@Model.alternatives[0].AlternativeCriterias[i].CriteriaName</th>
                        }

                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.alternativeNumber; i++)
                    {
                        <tr>
                            <th scope="row">@Model.alternatives[i].AlternativeName</th>
                            @for (int ii = 0; ii < Model.criteriaNumber; ii++)
                            {
                                <td>@Model.alternatives[i].VectorP[ii]</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <a class="btn-secondary btn submit-ahp-f-intput" asp-area="" asp-page="/Alg/AHP_Fuzzy">Начать ввод заново</a>
    }
    <a class="btn-secondary btn submit-ahp-f-intput my1" asp-area="" asp-page="/Index">Вернуться на главную</a>
    @*<a class="btn-secondary btn submit-ahp-f-intput my1" asp-area="" asp-page="/Alg/AHP_Fuzzy">Начать ввод заново</a>*@


</body>
